<% include common/header.ejs %>

<div class="main-container ">
    <div class="main ">


        <img class="about-img" src="assets/images/about-books-img.jpg">

        <div class="container marketing about">
            <!-- START THE FEATURETTES -->

            <div class="row featurette">
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block img-sm" data-src="holder.js/500x500/auto"
                         alt="500x500"
                         src="assets/images/3.jpg"
                         data-holder-rendered="true">
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">Що таке буккросинг?<span class="text-muted"> І з чим його їсти</span>
                    </h2>

                    <p class="lead"><b>Буккроссинг</b> (з англійської Bookcrossing) — хобі та рух, що є близький до
                        флешмобу. Буккроссинг — це процес "звільнення" книг.
                        Людина, прочитавши книгу, залишає її у парку, кафе, поїзді тощо для того, щоб інша, випадкова,
                        людина могла цю книгу знайти та прочитати; та у свою чергу
                        повинна повторити цей процес. Ця практика надає можливість людям отримати
                        задоволення від прочитання нової книги без потреби її придбання, або замовлення в бібліотеці. В
                        українському перекладі такий рух матиме назву <b>книгооберт</b>.</p>
                </div>

            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 ">
                    <h2 class="featurette-heading">Що таке KMAbookXing?<span
                                class="text-muted"> І навіщо воно мені </span></h2>

                    <p class="lead"><b>KMAbookXing</b> - це інтернет-платформа для реалізації практики буккросингу в
                        стінах Могилянки. Ми знаємо, як складно назавжди віддавати свої улюблені книжки. Саме тому вам не доведеться прощатися з улюбленцями, просто дайте можливість іншим насолодитися своєю книгою, просто позичивши її.
                        Електронна версія не може замінити насолоду від прочитання паперової книги? Немає
                        грошей на придбання нового екземпляру? В бібліотеці хтось взяв книгу, яку ти
                        хочеш прочитати,
                        або ж її
                        просто не видають додому? KMAbookXing надає тобі можливість БЕЗКОШТОВНО вирішити ці проблеми.
                        Додавай книги, що в тебе є, до нащої галереї, бери те, що тебе цікавить у інших
                        користувачів. Знаходь нові знайомства, а можливо й друзів. <b>Вчись, читай, розвивавайся з
                            KMAbookXing!</b>
                    </p>
                </div>
                <div class="col-md-5 "><img class="featurette-image img-responsive center-block "
                                            data-src="holder.js/500x500/auto"
                                            alt="500x500"
                                            src="assets/images/6.jpg"
                                            data-holder-rendered="true">
                </div>

            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                         alt="500x500"
                         src="assets/images/12.jpg"
                         data-holder-rendered="true">
                </div>
                <div class="col-md-7">
                    <h2 class="featurette-heading">Як це все працює<span class="text-muted"> Степ бай степ</span>
                    </h2>

                    <p class="lead"><span class="glyphicon glyphicon-thumbs-up"></span> Ознайомся з нашим проектом.<br>
                        <span class="glyphicon glyphicon-thumbs-up"></span> Додавай свої книжки.<br>
                        <span class="glyphicon glyphicon-thumbs-up"></span> Скористайся нашим каталогом для пошуку
                        книжок, цікавих для тебе.<br>
                        <span class="glyphicon glyphicon-thumbs-up"></span> Зв'язуйся з їх власниками та домовляйся про
                        умови книгооберту.<br>
                        <span class="glyphicon glyphicon-thumbs-up"></span> Залишай свої книжки у могилянському "Білому
                        просторі" для зручності та таймсейвінгу.</p>
                </div>

            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Ми не дали відповідь на всі твої питання?<span
                                class="text-muted"> <br>Не соромся</span></h2>

                    <p class="lead">З усіма питаннями та пропозиціями звертайтеся на адресу
                        <b><a href="https://www.vk.com/kmabookxing">нашої спільноти</a></b>.</p>

                    <p align="center" style="font-size:20px"> Крім
                        того, <a href="https://www.facebook.com/profile.php?id=100004440694839&fref=ts/">Ніка</a> та
                        <a href="https://www.facebook.com/anastasia.holovenko">Настя</a> будуть раді вам допомогти.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                         alt="500x500"
                         src="assets/images/13.jpg"
                         data-holder-rendered="true">
                </div>
            </div>

            <hr class="featurette-divider">
        </div>
    </div>
</div>
<% include common/footer.ejs %>